<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Blog</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<header th:insert="blocks/header :: header"></header>

<div class="container mt-5 mb-5">
    <h1>Add new article</h1><br>
    <form action="/blog/add" method="post">
        <label>
            <input type="text" name="title" placeholder="Enter article title" class="form-control">
        </label><br>
        <label>
            <textarea name="fullText" placeholder="Enter article text" class="form-control"></textarea>
        </label><br>
        <button type="submit" class="btn btn-success">Add article</button>
    </form>
</div>

<div th:insert="blocks/footer :: footer"></div>
</body>
</html>