<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Blog</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<header th:insert="blocks/header :: header"></header>

<div class="container mt-5 mb-5">
    <h1>Edit article</h1><br>
    <div th:each="el : ${post}">
        <form method="post">
            <label>
                <input type="text" th:value="${el.title}" name="title" placeholder="Enter article title"
                       class="form-control">
            </label><br>
            <label>
                <input type="text" th:value="${el.anons}" name="anons" placeholder="Enter anons" class="form-control">
            </label><br>
            <label>
<textarea name="full_text" placeholder="Enter article text" class="form-control"
          th:text="${el.full_text}"></textarea>
            </label><br>
            <button type="submit" class="btn btn-success">Edit article</button>
            <a th:href="'/blog/' + ${el.id}" class="btn btn-warning">Cancel</a>
        </form>
    </div>
</div>

<div th:insert="blocks/footer :: footer"></div>

</body>
</html>